<div class="container">
    <div class="container " style="margin:0%;">
        <div class="container-center row ">
        
            <div class=" conteiner col-lg-8 ">
                <div class="text-iline row">
                    <th><label class="col-4" for="a">Producto</label></th>
                    <input class="col-8" type="text" name="prducto" class="form-control">
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                    <button class="btn-primary"></button>
                    <button class="btn-danger"></button>
                </div>
            </div>
        
            <div class="col-4">
                <div>
                    <div>
                        <label for="">suma de todas las ventas</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Documento</label>
                            <select class="form-control form-control-lg">
                                <option>Large select</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Nº De Venta</label>
                            <select class="form-control form-control-lg">
                                <option>Large select</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="">Fecha de Venta</label>
                        <input class="form-control" type="date" placeholder=".form-control-lg">
                        <label for="">Fecha de Venta</label>
                        <input class="form-control" type="text" placeholder="Default input">
                        
                    </div>
                    <div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
